@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Trabalho do Bloco de Presentation da Pós MIT em Engenharia de Software .NET</h2>
        <ul>
            <li>Presentation em ASP.NET Core MVC usando HttpClientFactory com HttpClient tipado e injetado</li>
            <li>O HttpClient é usado para fazer requisições RESTful para o WebApi, também usando ASP.NET Core</li>
            <li>Web Api está usando DDD, Repository Pattern, Entity Framework Core</li>
            <li>Web Api e Mvc compartilham os objetos usados na requisição por um projeto a parte, que deveria gerar uma Package Nuget que deve ter número de versão para acompanhar as versões da Web API</li>
        </ul>
        <h3>TODO:</h3>
        <p>Resolver HttpClient tipado para funcionar com Generics</p>
        <p>Testar a biblioteca Refit para requisições RESTful <a href="https://www.hanselman.com/blog/UsingASPNETCore21sHttpClientFactoryWithRefitsRESTLibrary.aspx">hanselman post Refit</a></p>
        <p>Testar a biblioteca Polly adicionar Retry, Circuit-breaker e Timemout <a href="https://www.hanselman.com/blog/AddingResilienceAndTransientFaultHandlingToYourNETCoreHttpClientWithPolly.aspx">hanselman post Polly</a></p>
        <h3>Ignored:</h3>
        <p>Trabalho braçal de adicionar múltiplas entidades</p>
    </div>
</div>
